.back-button-container {
  display: flex;
  align-items: center;

  margin-bottom: 32px;
  margin-left: 20px;

  color: #666f78;
}

.back-button-container button {
  font-size: 18px;
  font-weight: 700;
}
